[submodule "modules/client"]
	path = modules/client
	url = https://gitlab.com/kamax-io/software/hyperbox/client.git
[submodule "modules/server"]
	path = modules/server
	url = https://gitlab.com/kamax-io/software/hyperbox/server.git
